Tienda.Pe.Presentacion.Consola/Service References/clienteServicio/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClienteServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Tienda.Pe.Transversal.Entidades" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Tienda.Pe.Servicios.Administracion.DataContracts" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClienteServicio_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IClienteServicio_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteServicio_Adicionar_InputMessage">
    <wsdl:part name="parameters" element="tns:Adicionar" />
  </wsdl:message>
  <wsdl:message name="IClienteServicio_Adicionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarResponse" />
  </wsdl:message>
  <wsdl:portType name="IClienteServicio">
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteServicio/Listar" message="tns:IClienteServicio_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteServicio/ListarResponse" message="tns:IClienteServicio_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Adicionar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteServicio/Adicionar" message="tns:IClienteServicio_Adicionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteServicio/AdicionarResponse" message="tns:IClienteServicio_Adicionar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClienteServicio" type="tns:IClienteServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IClienteServicio/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Adicionar">
      <soap:operation soapAction="http://tempuri.org/IClienteServicio/Adicionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteServicio">
    <wsdl:port name="BasicHttpBinding_IClienteServicio" binding="tns:BasicHttpBinding_IClienteServicio">
      <soap:address location="http://localhost:35734/Administracion/ClienteServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>