Tienda.Pe.Presentacion.Consola/Service References/clienteServicio/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Tienda.Pe.Transversal.Entidades" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Tienda.Pe.Servicios.Administracion.DataContracts" />
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tienda.Pe.Transversal.Entidades" minOccurs="0" name="ListarResult" nillable="true" type="q1:StatusResponseOfArrayOfClienteKIWOpqxC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Adicionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tienda.Pe.Servicios.Administracion.DataContracts" minOccurs="0" name="cliente" nillable="true" type="q2:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tienda.Pe.Transversal.Entidades" minOccurs="0" name="AdicionarResult" nillable="true" type="q3:StatusResponseOfClienteKIWOpqxC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>