Tienda.Pe.Presentacion.Consola/Service References/clienteServicio/Tienda.Pe.Servicios.Administracion.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tienda.Pe.Servicios.Administracion.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tienda.Pe.Servicios.Administracion.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClienteId" type="xs:int" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ArrayOfArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfCliente" nillable="true" type="tns:ArrayOfArrayOfCliente" />
</xs:schema>