Tienda.Pe.Presentacion.Consola/Service References/usuarioServicio/UsuarioServicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tienda.Pe.Transversal.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tienda.Pe.Transversal.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10930/UsuarioServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tienda.Pe.Servicios.Seguridad.DataContracts" />
  <xs:import schemaLocation="http://localhost:10930/UsuarioServicio.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="StatusResponseOfUsuarioV_SGjAzER">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="StatusResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Tienda.Pe.Transversal.Entidades" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Usuario" Namespace="http://schemas.datacontract.org/2004/07/Tienda.Pe.Servicios.Seguridad.DataContracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tienda.Pe.Servicios.Seguridad.DataContracts" minOccurs="0" name="Data" nillable="true" type="q1:Usuario" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tienda.Pe.Servicios.Seguridad.DataContracts" minOccurs="0" name="Lista" nillable="true" type="q2:ArrayOfUsuario" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusResponseOfUsuarioV_SGjAzER" nillable="true" type="tns:StatusResponseOfUsuarioV_SGjAzER" />
</xs:schema>