Tienda.Pe.Presentacion.Consola/Service References/usuarioServicio/UsuarioServicio3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10930/UsuarioServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tienda.Pe.Servicios.Seguridad.DataContracts" />
  <xs:import schemaLocation="http://localhost:10930/UsuarioServicio.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Tienda.Pe.Transversal.Entidades" />
  <xs:element name="Adicionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tienda.Pe.Servicios.Seguridad.DataContracts" minOccurs="0" name="usuario" nillable="true" type="q1:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tienda.Pe.Transversal.Entidades" minOccurs="0" name="AdicionarResult" nillable="true" type="q2:StatusResponseOfUsuarioV_SGjAzER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>